<!DOCTYPE html>
<html>
<head>
	<title>Freelancers Member</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link href="{{ url_for('static', filename= 'css/side_nav_footer.css') }}" rel="stylesheet">
<body>
<input type="checkbox" id="check">
<header>
<div class="navbar">
	 <label for="check"><i class="fa fa-bars" id="sidebar_btn" ></i> </label>
	 <h3>Freelancing</h3>
	 {% if session['username'] %}
	 <a href="{{url_for('memberlogout')}}">Logout </a>
	 {% else %}
	 <a href="/memberlogin">Login </a>
     <a href="/memberregister">Register </a>

	 {%endif%}
</div>
<!--Sidebar -->
</header>
<div class="sidebar">
		<center>
			<h4>Welcome</h4> 
		</center>
		<a href="/homemember"><i class="fa fa-home"></i><span> Home</span></a> 
		<a href="/addfreelancing"><i class="fas fa-handshake"></i><span>Add Freelancing</span></a>
		<a href="/freelancereq"><i class="fas fa-handshake"></i><span>Freelance Req</span></a>
		<a href="/freelanceworking"><i class="fas fa-calendar-check"></i></i><span>Freelancing Status</span></a>
		<a href="/give_certificate"><i class="fas fa-calendar-check"></i></i><span>Give Certificate</span></a>
		<a href="/completed_cert"><i class="fas fa-calendar-check"></i></i><span>Completed Freelancers</span></a>
		<a href="/memberaccount"><i class="fa fa-user"></i><span>Account</span> </a>
	
	</div>

<!--Main Body Content Here -->
{% with messages=get_flashed_messages(with_categories=true)%}
{%if messages %}
 {%for category,messages in messages%}
 <div class="alert-{{category}}">
	 {{messages}}
	</div>
 {%endfor%}
 {% endif %}
{%endwith%}


{% block body %}

{% endblock %}


<!--End Main Content-->
<!--footer-->
<footer>
  <div class="footer-Content">
   <h1 class="footer-title">About us</h1>
   <p> This is a Dynamic Web template created using HTML,CSS and python flask </p>
   <p>Created by Rohit Singh</p>
  </div> 
</footer>
<!--End footer-->
</body>

</html>