<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Membe Register</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/studentlogin_page.css') }}">
  
  
<!-- <link rel="stylesheet" href="./style.css"> -->

</head>
<body>
<!-- partial:index.partial.html -->
<div id="login-form-wrap">
  <h2>Member Register</h2>
  <img src="{{url_for('static', filename='img/f_avatar.png')}}" alt="Avatar" class="center">
  <form id="login-form" method="POST" action="">
    {{ form.hidden_tag() }}
    <p>
      {%if form.name.errors%}
      {{form.name(placeholder="Enter Name")}}
      {%for error in form.name.errors%}
      <span><span>{{error}}</span></span>
      {%endfor%}
      {%else%}
      {{form.name(placeholder="Enter Name")}}
      {%endif%}
     
    </p>
    
    <p>
      {%if form.email.errors%}
      {{form.email(placeholder='Enter Email')}}
      {%for error in form.email.errors%}
      <span><span>{{error}}</span></span>
      {%endfor%}
      {%else%}
      {{form.email(placeholder='Enter Email')}}
      {%endif%}
      
    </p>

    <p>
      {%if form.phone.errors%}
      {{form.phone(placeholder="Enter Contact your no")}}
      {%for error in form.phone.errors%}
      <span><span>{{error}}</span></span>
      {%endfor%}
      {%else%}
      {{form.phone(placeholder="Enter Contact your no")}}
      {%endif%}
     
    </p>

    <p>
        {%if form.companyname.errors%}
        {{form.companyname(placeholder="Enter Company Name")}}
        {%for error in form.companyname.errors%}
        <span><span>{{error}}</span></span>
        {%endfor%}
        {%else%}
        {{form.companyname(placeholder="Enter Company Name")}}
        {%endif%}
       
      </p>
    
    <p>
      {%if form.location.errors%}
      {{form.location()}}
      {%for error in form.location.errors%}
      <span><span>{{error}}</span></span>
      {%endfor%}
      {%else%}
      {{form.location()}}
      {%endif%}
     
    </p>

    <p>
      {%if form.username.errors%}
      {{form.username(placeholder='Enter Username')}}
      {%for error in form.username.errors%}
      <span><span>{{error}}</span></span>
      {%endfor%}
      {%else%}
      {{form.username(placeholder='Enter Username')}}
      {%endif%}
    
    </p>

    <p>
      {%if form.password.errors%}
      {{form.password(placeholder='Enter Password')}}
      {%for error in form.password.errors%}
      <span><span>{{error}}</span></span>
      {%endfor%}
      {%else%}
      {{form.password(placeholder='Enter Password')}}
      {%endif%}
       
    </p>
 
    <p>
      {%if form.confirm_password.errors%}
      {{form.confirm_password(placeholder='Re-Enter Password')}}
      {%for error in form.confirm_password.errors%}
      <span><span>{{error}}</span></span>
      {%endfor%}
      {%else%}
      {{form.confirm_password(placeholder='Re-Enter Password')}}
      {%endif%}
      
    </p>

    <p>
      {{form.submit()}}
      <!-- <input type="submit" id="login" value="Login"> -->
    </p>
   
    <p>
      {% with messages=get_flashed_messages(with_categories=true)%}
      {%if messages %}
       {%for category,messages in messages%}
       <div class="alert-{{category}}">
         {{messages}}
        </div>
       {%endfor%}
       {% endif %}
      {%endwith%}
    </p>

  </form>
  <div id="create-account-wrap">
    <p>Not a member? <a href="#">I already have an Account</a><p>
  </div><!--create-account-wrap-->
</div><!--login-form-wrap-->
<!-- partial -->
</body>
</html>
