<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Certificate Generate</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/studentlogin_page.css') }}">
  
  
<!-- <link rel="stylesheet" href="./style.css"> -->

</head>
<body>
<!-- partial:index.partial.html -->
<div id="login-form-wrap">
  <h2>Certificate for {{user.stud_name}}</h2>
  <img src="{{url_for('static', filename='img/freelancing.png')}}" alt="Avatar" class="center">
 
  <form id="login-form"  method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
      {%if form.name.errors%}
        {{form.name(placeholder='Enter name',value=user.stud_name)}}
          {%for error in form.name.errors%}
          <span><span>{{error}}</span></span>
          {%endfor%}
          {%else%}
          {{form.name(placeholder='Enter name',value=user.stud_name)}}
          {%endif%}
       <!-- <input type="text" id="name" name="name" placeholder="name" required><i class="validation"><span></span><span></span></i></p>   -->
      
       <p>
        {%if form.email.errors%}
        {{form.email(placeholder='Enter email',value=user.stud_email)}}
        {%for error in form.email.errors%}
        <span><span>{{error}}</span></span>
        {%endfor%}
        {%else%}
        {{form.email(placeholder='Enter email',value=user.stud_email)}}
        {%endif%}
         <!-- <input type="text" id="name" name="name" placeholder="name" required><i class="validation"><span></span><span></span></i></p>   -->
      </p>

      <p>
        {%if form.pdf.errors%}
        {{form.pdf(placeholder='Select pdf')}}
        {%for error in form.pdf.errors%}
        <span><span>{{error}}</span></span>
        {%endfor%}
        {%else%}
        {{form.pdf(placeholder='Enter pdf')}}
        {%endif%}
         <!-- <input type="text" id="name" name="name" placeholder="name" required><i class="validation"><span></span><span></span></i></p>   -->
      </p> <br>


    <p>
     {{form.submit(value="Upload")}}
    </p>
    <br>
    <p>
      {% with messages=get_flashed_messages(with_categories=true)%}
      {%if messages %}
       {%for category,messages in messages%}
       <div class="alert-{{category}}">
         {{messages}}
        </div>
       {%endfor%}
       {% endif %}
      {%endwith%}
    </p>
  </form>
  
</div><!--login-form-wrap-->
<!-- partial -->
</body>
</html>
