table {
    border-collapse: collapse;
    width: 100%;
  }

  .tabel-head{
    background-color: #2F323A;
    color: #fff;
    padding: 0.5rem;
  }
  th, td {
    text-align: left;
    padding: 10px;
    font-size: 15px;
  
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}