* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
 
}

.global-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
}

.row {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
}

.global-logo a {
    color: #252222;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-menu {
    display: inline-block;
    vertical-align: top;
    margin-top: 22px;
    margin-left: 50px;
}

ul {
    font-size: 13px;
    line-height: 21px;
}

li:first-child {
    margin-left: 0;
}

li {
    display: inline-block;
    margin-left: 28px;
    padding-bottom: 22px;
    position: relative;
}

li > a {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
    text-decoration: none;
    color: #252222;
    font-weight: bold;
}

.sub-nav {
    background: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
    display: none;
    left: -120px;
    padding: 16px;
    position: absolute;
    top: 100%;
    width: 628px;
}

#services:hover .sub-nav {
    display: flex;
}

.sub-nav-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 50%;
}

.left {
    margin-right: 4px;
}

.right {
    margin-left: 4px;
}

.sub-nav-box {
    background: #fff;
    border-radius: 3px;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    margin: 4px 0;
    min-height: 100px;
    padding: 24px 14px 24px 96px;
    position: relative;
    transition: .2s all ease-in-out;
    text-decoration: none;
}

.icon-background {
    height: 64px;
    width: 64px;
    background: #252222;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 14px;
}

.icon {
    color: #fff;
    font-size: 20px;
}

.sub-nav-box h4 {
    font-size: 12px;
    letter-spacing: 0.9px;
    line-height: 16px;
    margin: 0 0 0.5em;
    padding: 0;
    text-transform: uppercase;
    color: #292D34;
}

.sub-nav-box p {
    color: #292D34;
    line-height: 16px;
}

.sub-nav::after {
    bottom: 100%;
    left: 140px;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    border-color: rgba(252,252,252,0);
    border-bottom-color: #f7f7f7;
    border-width: 20px;
    border-radius: 2px;
    margin-left: -20px;
}

.sub-nav-box:hover h4, .sub-nav-box:hover p {
    color: #fff;
    font-weight: bold;
}

#box-1:hover, #icon-1 {
    background: #7e3ef3;
}

#box-2:hover, #icon-2 {
    background: #fe4242;
}

#box-3:hover, #icon-3 {
    background: #2ee1f9;
}

#box-4:hover, #icon-4 {
    background: #2ef968;
}

#box-5:hover, #icon-5 {
    background: #ffcf11;
}

#box-6:hover, #icon-6 {
    background: #86ffc6;
}

#box-7:hover, #icon-7 {
    background: #ff60b2;
}

#box-8:hover, #icon-8 {
    background: #5462ff;
}

.setting{
    position: fixed;
    top: 20px;
    right: 30px
}


/*drop down*/
.dropbtn {
    position: fixed;
    top: 25px;
    right: 30px;
    padding-bottom:30px;
    padding-top:5px ;
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  .dropdown {
    position: fixed;
    display: inline-block;
   
   
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 30px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
   .dropdown:hover .dropbtn {background-color: #fff;}






/*HEADING SECTION*/
.heading-section{
    background-color: #090909;
	height:50vh;
	background-size:cover;
	background-position:center;
	position:relative;
    
}
.heading-section .header-box{
	background-image:linear-gradient(rgba(0,0,0,.3),rgb(0,0,0,.7)),url(slider1.jpg);
	height:65vh;
	background-size:cover;
	background-position:center;
    background-attachment:fixed; 
	position:relative;
}

.header-text{
    padding-top: 100px;
    margin-top: 20px;
    text-align: center;
}
.header-title{
    color:#E8E8E8;
    letter-spacing: 3px;
    padding: 20px;
}
.header-para{
    
    color:#E8E8E8;
    letter-spacing: 3px;
}

.heading-section ::after{
        content: " ";
        display: block;
        background: #fff;
        height: 29px;
        width: 100%;
        position: absolute;
        bottom: -29px;
}

/*status section*/
.summary-section{
    font-size:20px;
	color:#000;
	margin-bottom:20px;
	margin-top:100px;
    padding: 20px;
    text-align: center;
    
}
.section-heading{
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}
.summary-section .status-section{
    padding: 20px;
    width: 40%;
    text-align: center;
    display: inline-block;
    margin-left: 50px;
    align-items: center;
   
}

.summary-title{
    font-size: 20px;
    padding-bottom:10px;
}

